# Агрегация

###### Задание 1 

Напишите SQL-запрос, который выведет следующие метрики из таблицы ***titles***:

— количество строк (назовите поле ***title_cnt***)

— минимальное время из поля ***run_time*** (назовите поле ***min_time***)

— максимальное время из поля ***run_time*** (назовите поле ***max_time***)

— среднее время из поля ***run_time*** (назовите поле ***avg_time***)

— количество произведений с пометкой для взрослых (для этого можно взять сумму поля ***is_adult***, переведённого в int) (назовите поле ***adult_cnt***)

``` PLSQL
SELECT count(*) as title_cnt,
       min (run_time) as min_time,       
       max (run_time) as max_time,       
       avg (run_time) as avg_time,       
       sum (is_adult::int) as adult_cnt       
FROM   titles
```
###### Задание 2 

Напишите SQL-запрос, который выведет записи из таблицы ***titles***, сгруппированные по полю ***type***, и рассчитает, какое количество строк относится к каждому типу. Назовите расчетное поле ***cnt***.

Запрос должен выводить два поля: тип и количество строк ***cnt***.

Результат отсортируйте по возрастанию ***type***, ***cnt***

``` PLSQL
SELECT count(type) as cnt,
       type
FROM   titles
GROUP BY type
ORDER BY type, cnt;
```

###### Задание 3

Напишите SQL-запрос, который выведет количество людей, родившихся в один год, для каждого года рождения из таблицы ***persons***.  Сделайте сортировку по убыванию количества людей в группах.

Поля вывода: ***year_of_birth***; количество людей, рожденных в этом году (***cnt***).

``` PLSQL
SELECT count (id) as cnt,
       year_of_birth
FROM   persons
GROUP BY year_of_birth
ORDER BY cnt desc;
```


###### Задание 4

Напишите SQL-запрос, который выведет жанры ***genres*** и количество строк, соответствующих этим жанрам из таблицы ***titles***. Для этого:

— произведите группировку по полю ***genres*** (назовите расчетное поле ***cnt***)

— исключите строки, где больше одного жанра (такие строки содержат запятую)

— отсортируйте по убыванию ***cnt***, ***genres***

Поля вывода: ***genres***, количество (***cnt***).

``` PLSQL
SELECT genres,
       count (id) as cnt
FROM   titles
GROUP BY genres having genres not like '%,%'
ORDER BY cnt desc;
```

###### Задание 5

Напишите SQL-запрос, который выведет количество людей в каждой из профессий из таблицы ***persons***. Исключите тех людей, которые имеют больше одной профессии (аналогично предыдущему заданию). 

Назовите расчетное поле ***cnt***. Отсортируйте по убыванию ***cnt***, ***professions***

``` PLSQL
SELECT professions,
       count (id) as cnt
FROM   persons
GROUP BY professions having professions not like '%,%'
ORDER BY 2 desc, 1 desc;
```

###### Задание 6

Напишите SQL-запрос, который выведет количество живых и умерших людей из таблицы ***persons***. Если поле ***year_of_death*** пустое, выведите ***alive***, иначе — ***dead***. 

Назовите поля ***status*** и ***cnt***. Результат отсортируйте по возрастанию ***status***, ***cnt***

``` PLSQL
SELECT case when year_of_death is null then 'alive'
            else 'dead' end as status,
       count (*) as cnt
FROM   persons
GROUP BY status
ORDER BY status, cnt;
```

###### Задание 7

Напишите SQL-запрос, который выведет средний рейтинг каждого из жанров. Для этого:

— объедините таблицы ***titles*** и ***ratings***

— сгруппируйте результат объединения по полю genres

— отфильтруйте строки с более, чем одним жанром

— посчитайте среднее значение поля ***avg_rating***

— выведите жанр и средний рейтинг

— отсортируйте по убыванию среднего рейтинга

``` PLSQL
SELECT genres,
       avg (avg_rating) as avg_rating
FROM   titles as t join ratings as r
        ON t.id = r.title_id
GROUP BY genres having genres not like '%,%'
ORDER BY avg (avg_rating) desc;
```

###### Задание 8

Напишите SQL-запрос, который выведет жанр и сумму голосов (***vote_cnt*** из таблицы ***ratings***) для каждого жанра. Назовите расчетное поле ***sum_vote***. Отсортируйте по убыванию сумм голосов. 

Исключите строки, содержащие более одного жанра, из выгрузки.

``` PLSQL
SELECT genres,
       sum (vote_cnt) as sum_vote
FROM   titles as t join ratings as r
        ON t.id = r.title_id
GROUP BY genres having genres not like '%,%'
ORDER BY sum_vote desc;
```

###### Задание 9

Напишите SQL-запрос, который выведет жанры и количество произведений в каждом из них (назовите расчетное поле ***cnt***) из таблицы ***titles***. Не исключайте составные жанры. Ограничьте список теми жанрами, в которых более 1000 строк, и отсортируйте по убыванию этого количества.

``` PLSQL
SELECT genres,
       count (id) as cnt
FROM   titles
GROUP BY genres having count (id) > 1000
ORDER BY cnt desc;
```

###### Задание 10

Напишите SQL-запрос, который выведет количество людей (расчетное поле ***cnt***) для каждой профессии из таблицы ***persons***. Исключите людей с несколькими профессиями. Выведите только те профессии, где количество людей превышает 10000. Отсортируйте результаты по убыванию количества людей.

Поля вывода: ***professions***, ***cnt***.

``` PLSQL
SELECT professions,
       count (id) as cnt
FROM   persons
GROUP BY professions having professions not like '%,%' and count (id) > 10000
ORDER BY cnt desc;
```